body {
    background-image: url(./assets/background_web.png);
    background-repeat: no-repeat;
    background-size: contain; 
    width: auto; 
    height: auto;
    background-attachment: fixed;  
    }

    .wrapper{
        display: grid;
        grid-template-columns: 20% 20%;
        grid-template-rows: 20% 20%;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        justify-items: stretch;
        align-items: stretch;
        justify-content: center;
        
        }

        /* .wrapper div{
            border: 2;
            border-style: solid;
            height:max-content;   
            background-color: azure;      
          
        } */

  